@font-face {
    font-family: 'bloodnguts'; 
    src: url('../../public/font/bloodnGuts.ttf'); 
}
.bloodnGuts{
	font-family: 'bloodnguts';
}



html, body{
	background-color: #212F3C;
	color: white;
}


li{
		font-size: 1.5em;

}
i{
	    font-style: italic;

}

.thumbnail{
	width: 100%;
}

#log{
	position: absolute;
		top: 3px;
	right: 20px;
}
#aLog{
	position: relative;
	top: 3px;
}

#avatar{
	width: 40px;

}
.accountAvatar{
	width: 200px;
}
.avatar{
	width: 200px; 
	height: 200px;
	    border-radius: 5px;

}
.author{
	text-align: center;
    width: 100%;
    color: black;
}
.center, .center-text{
	text-align: center;
}
.cardColor{
	    background-color: #2E4053;
	    box-shadow: 5px 5px 5px 0px #17202A;
}
.myForm{
	width: 100%;
}

#saveScreen, #winScreen{
	display: none;
}

.shadowBg{

	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.75);
	position: absolute;
	width: 100%;
	height: 100%;

}
.alertBox{
	top: 25%;
	left: 25%;
	width: 50%;

}


#ajaxError{
	display: none;
}
#ajaxEmail{
	display: none;
}
#ajaxAccount{
	display: none;
}
.greenBorder{
	border: 2px solid green;
}
.redBorder{
	border: 2px solid red;
}



/* file upload */
#fileDiv{
	display: block; 
	width: 200px; 
	height: 200px; 
	overflow: hidden;
	position: relative;
	

}

#imgAvatar{

	width: 202px; 
	height: 200px; 
	position: relative; 
	top: 0px; 
	left: 0px;

}
#avatarGroup{
	    width: 200px;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
}
#downloadButton{
	width: 220px; 
	height: 220px; 
	position: absolute; 
	top: -10px; 
	left: -10px;
	font-size: 70px;
background-color: rgb(0,0,0,0.65);
color: #ECF0F1;
display: none;
}
#file{
	width: 200px; 
	height: 200px;
	opacity: 0; 
	filter:alpha(opacity=0);  
	position: relative; 
	top: -224px;
	left: 0px;
	cursor: pointer;

}

#menuAvatar, #menuAvatarError{

	display: none;
	position: relative;
}

#submitAvatar{
	position: absolute;
	right: 0;
}

.red{
	color: red;
}


h1{
	font-size: 70px;
}
#video{
	width: 600px;

}
#homeDiv{
	position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
#play{
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 80px;
    width: 600px;
}




/* info */



.info{
	background-color: transparent;
	border: none;
	position: absolute;
	bottom: 15px;
	right: 15px;
	cursor: pointer;
}
.info:focus{
	outline-style:none;
}

.fa-info-circle{
	color: #21618C;
	font-size: 27px;

}
#infoPopup{
	position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(26,26,26, 0.75);
    width: 100%;
    height: 100%;
    display: none;
    cursor: pointer;
}
#imgInfo{

	position: absolute;
	top: 10%;
	left: 10%;
	width: 80%;
}


	#nav{
		display: flex;
	}
	#mobile{
		display: none;
	}




@media (max-device-width:768px){
	#nav{
		display: none;
	}
	#mobile{
		display: flex;
	}
	h1{
		font-size:40px;
	}
	#play{
    	width: 100%;
    	font-size: 40px;
	}
	#video{
		width: 100%;
	}


}
@media (max-width:768px){
	#nav{
		display: none;
	}
	#mobile{
		display: flex;
	}
	h1{
		font-size:40px;
	}
	#play{
    	width: 100%;
    	font-size: 40px;
	}
	#video{
		width: 100%;
	}

}